<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Editar Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Selecciona la fecha</ion-label>
    <ion-datetime [(ngModel)]="fecha" name="fecha" presentation="date"></ion-datetime>
  </ion-item>
  
  <div class="ion-text-center">
    <ion-button id="trigger-button" (click)="modificar()" [routerLink]="['/reservas']">Reservar</ion-button>
    <br>
    <ion-button color="danger" id="trigger-button" [routerLink]="['/reservas']" class="slide-up">Volver</ion-button>
  </div>
</ion-content>
