<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Editar Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tu Reserva Actual</ion-card-title>
      <p>Habitación: {{habitacion}}</p>
      <p>Fecha Actual: {{fecha | date: 'shortDate'}}</p>
    </ion-card-header>
  </ion-card>

  <ion-label>Selecciona la nueva fecha</ion-label>
  <mat-card class="demo-inline-calendar-card" name="fecha">
    <mat-calendar 
      [(selected)]="fecha" 
      [minDate]="minDate" 
      [dateFilter]="desactivarFechas"
      class="cal">
    </mat-calendar>
    <ion-text color="danger" *ngIf="fechaOcupada()">
      La Fecha Seleccionada Está Ocupada
    </ion-text>
  </mat-card>
  
  <p>Fecha seleccionada: {{fecha | date: 'shortDate'}}</p>
  
  <div class="ion-text-center">
    <ion-button id="trigger-button" (click)="reservar()">Guardar</ion-button>
    <br>
    <ion-button color="danger" id="trigger-button" [routerLink]="['/reservas']" class="slide-up">Volver</ion-button>
  </div>
</ion-content>
