ion-content {
  --background: linear-gradient(15deg, #00c6ff, #0072ff);
}

.cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    padding: 20px; 
    border-radius: 10px;
    margin-top: 1rem; 
  }
  .titulo {
    font-size: 1.5rem; 
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
  
  .registro {
    width: 100%;
    max-width: 360px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  .registro ion-item {
    margin-top: 5 px;
    --background: white;
    margin-bottom: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }