<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card-content class="cuerpo">
          <ion-card-title class="titulo">Cambiar Contraseña</ion-card-title>
          <img class="room" src="assets/icon/logo.png" alt="Logo Refugio Andino"/>

          <form class="login">
            <ion-item>
              <ion-icon name="mail" slot="start"></ion-icon>
              <ion-input placeholder="Correo" type="text" [(ngModel)]="usuario" name="usuario"></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon name="lock-closed" slot="start"></ion-icon>
              <ion-input class="pass" type="password" placeholder="Contraseña" [(ngModel)]="contrasena" name="contrasena">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-item>

            <ion-button class="alerta" expand="full" (click)="irPagina()">Actualizar Contraseña</ion-button>
          </form>

          <ion-item class="back-to-login">
            <ion-button fill="clear" [routerLink]="['/home']">Volver al inicio de sesión</ion-button>
          </ion-item>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
