<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Agregar Presidencial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content class="cuerpo">
    <ion-card-title class="titulo">Añada La habitacion</ion-card-title>
    <img class="room" src="assets/icon/logo.png" alt="Logo Refugio Andino"/>
    <form class="agregar">
      <ion-item *ngIf="selectedImage">
        <ion-label>Imagen:</ion-label>
        <img [src]="selectedImage" alt="Imagen de habitación" class="room-image" />
      </ion-item>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      
  
      <div class="image-preview">
        <img *ngIf="selectedImage" [src]="selectedImage" alt="Imagen Seleccionada"/>
      </div>
      <ion-item>
        <ion-icon name="bed" slot="start"></ion-icon> 
        <ion-input label="Nombre Habitacion" labelPlacement="floating" placeholder="ingrese nombre de habitacion"  [(ngModel)]="nombre" name="nombre"></ion-input>
      </ion-item>
        <ion-item>
          <ion-icon name="bed" slot="start"></ion-icon> 
          <ion-input label="Descripcion Habitacion" labelPlacement="floating" placeholder="ingrese la descripcion"  [(ngModel)]="descripcion" name="descipcion"></ion-input>
        </ion-item>
      <ion-button expand="full" color="primary" class="ion-margin-top boton"(click)="agregar()">
        Añadir
      </ion-button>
      <ion-button expand="full" color="primary" class="ion-margin-top" [routerLink]="['/administrador']" type="button">Volver</ion-button>
  
    </form>
</ion-card-content>
</ion-content>