<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="perfil-form">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="nombreusuario" name="nombreusuario"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="telefono" name="telefono" type="tel"></ion-input>
    </ion-item>
  </form>
  <ion-button expand="full" color="primary" (click)="guardarCambios()">
    Guardar Cambios
  </ion-button>
</ion-content>