<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="perfil">
    <div class="avatar-container">
    </div>
    <h2 class="titulo">Editar Información</h2>
    <p class="location">Actualiza tu perfil aquí</p>
  </div>

  <form class="editar">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="nombreusuario" name="nombreusuario"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="telefono" name="telefono" type="tel" maxlength="9"></ion-input>
    </ion-item>
  </form>

  <div class="buttons-row">
    <ion-button class="agregar" expand="full" color="primary" (click)="guardarCambios()">
      Guardar Cambios
    </ion-button>
    <ion-button class="volver" expand="full" color="secondary" routerLink="/miperfil">
      Volver
    </ion-button>
  </div>
</ion-content>
