<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>MiPerfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8">
        <ion-card class="perfil">
          <ion-card-content class="cuerpo">
            <div class="avatar-container">
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </div>
            
            <ion-card-title class="titulo">{{ nombre }}</ion-card-title>
            <p class="location">Chile, Santiago</p>
  
            <form class="perfil-form">
              <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>      
                <ion-input [value]="rut" type="text" readonly></ion-input>
              </ion-item>

              <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>      
                <ion-input [value]="nombre" type="text" readonly></ion-input>
              </ion-item>
               
              <ion-item>
                <ion-icon name="mail" slot="start"></ion-icon>      
                <ion-input [value]="usuario" type="text" readonly></ion-input>
              </ion-item>
                    
              <div class="buttons-row">             
                <ion-button class="log" color="danger" expand="full" [routerLink]="['/home']">
                  <ion-icon name="log-out-outline" slot="start"></ion-icon>
                  Cerrar Sesión
                </ion-button>
              </div><br>
               <ion-button [routerLink]="['/ayuda']">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  ayuda
                </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home" [routerLink]="['/habitaciones']">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="radio" [routerLink]="['/hsuite']">
      <ion-icon name="star-outline"></ion-icon>
      Suite
    </ion-tab-button>
    <ion-tab-button tab="library" [routerLink]="['/hpresidencial']">
      <ion-icon name="diamond-outline"></ion-icon>
      Presidencial
    </ion-tab-button>
    <ion-tab-button tab="library" [routerLink]="['/miperfil']">
      <ion-icon name="person"></ion-icon>
      Mi perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
