<ion-content [fullscreen]="true" class="ion-padding">

  <ion-title class="titulo ion-text-center fade-in">Reserva Suite <br>presidencial</ion-title>

  

<ion-card>
  <img src="assets/precidencial/precidencial3.jpg" alt="Habitación Familiar"/>
  <ion-card-header>
    <ion-card-title class="">Tu Reserva</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Reservando por la app obtienes un 20% de descuento. <br>Nuestro refugio está de oferta ya que estamos celebrando la apertura de nuestra.</p>
  </ion-card-content>
</ion-card>
  
<ion-item><ion-datetime presentation="date"></ion-datetime></ion-item>

<ion-item>
  <ion-select [(ngModel)]="huesped" label="Personas Que Se Hospedan" placeholder="seleccione">
    <ion-select-option value="1 huesped">1 huesped</ion-select-option>
    <ion-select-option value="2 huespedes">2 huespedes</ion-select-option>
    <ion-select-option value="3 huespedes">3 huespedes</ion-select-option>
    <ion-select-option value="4 huespedes">4 huespedes</ion-select-option>
    <ion-select-option value="5 huespedes">5 huespedes</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select [(ngModel)]="noche" label="Noches Que Se Hospedaran" placeholder="seleccione">
    <ion-select-option value="2 noches">2 Noches</ion-select-option>
    <ion-select-option value="3 noches">3 Noches</ion-select-option>
    <ion-select-option value="4 noches">4 Noches</ion-select-option>
    <ion-select-option value="5 noches">5 Noches</ion-select-option>
    <ion-select-option value="6 noches">6 Noches</ion-select-option>
  </ion-select>
</ion-item>

    <ion-card>
      <ion-card-header>
      <ion-card-title class="">Total</ion-card-title>
      100000 la noche
    </ion-card-header>
    <ion-card-content>
      <p></p>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center">
    <ion-button id="trigger-button" (click)="reservar()">Reservar</ion-button>
    <br>
    <ion-button color="danger" id="trigger-button" [routerLink]="['/hpresidencial']" class="slide-up">Volver</ion-button>
  </div>

</ion-content>