<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reservas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="reservas-titulo">
    <h2>Estas son tus reservas</h2>
  </div>

  <div class="table-wrapper">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>Id Reserva</th>
          <th>Fecha</th>
          <th>Nombre Usuario</th>
          <th>total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of arregloreserva">
          <td>
              {{x.idreserva}}
          </td>

          <td>
              {{x.fecha}}
          </td>
          <td>
             {{x.usuarioidusuario}}
          </td>
          <td>
              {{x.total}}
          </td>
          <td>
            <ng-container >
              <button mat-icon-button color="accent">
                <ion-icon name="create"></ion-icon>
              </button>
              <button mat-icon-button color="warn">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ng-container> 
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</ion-content>
