<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reservas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="reservas-titulo">
    <h2>Estas son tus reservas</h2>
  </div>

  <div class="table-wrapper">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>Id Reserva</th>
          <th>Fecha</th>
          <th>Nombre Usuario</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of arregloreserva">
          <td>
            <input *ngIf="reserva.isEditing" [(ngModel)]="reserva.idreserva" />
            <span *ngIf="!reserva.isEditing">{{reserva.idreserva}}</span>
          </td>
          <td>
            <input *ngIf="reserva.isEditing" [(ngModel)]="reserva.fecha" />
            <span *ngIf="!reserva.isEditing">{{reserva.fecha}}</span>
          </td>
          <td>
            <input *ngIf="reserva.isEditing" [(ngModel)]="reserva.usuarioidusuario" />
            <span *ngIf="!reserva.isEditing">{{reserva.usuarioidusuario}}</span>
          </td>
          <td>
            <input *ngIf="reserva.isEditing" [(ngModel)]="reserva.total" />
            <span *ngIf="!reserva.isEditing">{{reserva.total}}</span>
          </td>
          <td>
              <button [routerLink]="['/modificar']">
                <ion-icon name="create" size="large"></ion-icon>
              </button>
              <button (click)="eliminar(reserva)">
                <ion-icon name="trash" size="large"></ion-icon>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
