ion-content {
    --background: linear-gradient(15deg, #00c6ff, #0072ff);
  }
.room-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 150px;
    margin-top: 4px;
  }
.fondo {
    background-color: #00c6ff;
}
.titulo{
    font-weight: bold;
    font-size: 25px;
}
.accordion-container {
  display: flex;
  gap: 20px; /* Espacio entre los acordeones */
}
.accordion-container ion-accordion-group {
  flex: 1;
}

.titulo1{
  font-weight: bold;
  font-size: 25px;
  
}
ion-item{
  border-radius: 20px;
}
.subtotal{
  width: 50%;
  margin: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.slide-up {
  animation: slideUp 1s ease-in-out;
}


.titulo, .titulo1, .info, .price-info {
  margin-bottom: 15px;
}

.accordion-container {
  margin-top: 20px;
}
