<ion-content [fullscreen]="true" class="ion-padding">

  <ion-title class="titulo ion-text-center fade-in">Reserva Habitacion <br>Familiar</ion-title>

  <ion-card>
    <img src="assets/familiar/familiar.3.jpg" alt="Habitación Familiar" />
    <ion-card-header>
      <ion-card-title class="">Tu Reserva</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-item>
    <ion-label>Selecciona la fecha</ion-label>
    <ion-datetime presentation="date" [(ngModel)]="fecha" name="fecha"></ion-datetime>
  </ion-item>
  
  <ion-item>
      <ion-select label="Noches Que Se Hospedaran" placeholder="seleccione" [(ngModel)]="noches" (ionChange)="calculartotal()">
        <ion-select-option value="2">2 Noches</ion-select-option>
        <ion-select-option value="3">3 Noches</ion-select-option>
        <ion-select-option value="4">4 Noches</ion-select-option>
        <ion-select-option value="5">5 Noches</ion-select-option>
        <ion-select-option value="6">6 Noches</ion-select-option>
      </ion-select>
    </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="">Total</ion-card-title>
      $20.000 la noche
    </ion-card-header>
    <ion-card-content>
      <p></p>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center">
    <ion-button id="trigger-button" (click)="reservar()">Reservar</ion-button>
    <br>
    <ion-button color="danger" id="trigger-button" [routerLink]="['/hfamiliar']" class="slide-up">Volver</ion-button>
  </div>

</ion-content>