<ion-content [fullscreen]="true" class="custom-content">
  <ion-card *ngFor="let x of habitaciones">
    <img class="room-image" [src]="x.imagen" alt="Habitacion Familiar" />
    <ion-card-header>
      <ion-card-title>{{ x.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Id: {{x.idtipo}}</p>
      <p>Descripción: {{ x.descripcion }}</p>
      <p>Precio: {{ x.precio }}</p>
      <ion-button color="warning" expand="block" [routerLink]="'/reserva'">Reserva</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
