<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Habitacion Familiar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let x of habitacion">
    <img class="room-image" [src]="x.imagen" alt="Habitacion Familiar" />
    <ion-card-header>
      <ion-card-title>{{ x.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>id habitacion {{x.idhabitacion}}</p>
      <p>Descripción: {{ x.descripcion }}</p>
      <p>Precio: {{ x.precio }}</p>
      <ion-button color="warning" expand="block" (click)="irReservar(x.idhabitacion)">Reserva</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home" [routerLink]="['/habitaciones']">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="home" [routerLink]="['/hpresidencial']">
      <ion-icon name="diamond-outline"></ion-icon>
      Presidencial
    </ion-tab-button>
    <ion-tab-button tab="suite" [routerLink]="['/hsuite']">
      <ion-icon name="star-outline"></ion-icon>
      Suite
    </ion-tab-button>
    <ion-tab-button tab="profile" [routerLink]="['/miperfil']">
      <ion-icon name="person"></ion-icon>
      Mi Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
