<ion-header [translucent]="true">
  <ion-toolbar color ="primary">
    <ion-title>ayuda</ion-title>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-accordion-group expand="inset">
    <img class="room" src="assets/icon/logo.png" alt="Logo Refugio Andino"/>
    <ion-accordion value="primero">
      <ion-item slot="header" color="light">
        <ion-label>preguntas frecuentes¿?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <h4>¿El hotel ofrece Wi-Fi gratuito en las habitaciones?</h4>
        Sí, todas nuestras habitaciones cuentan con Wi-Fi gratuito para que puedas mantenerte conectado durante tu estancia.
        <br>
        <h4>¿Cuál es la hora de check-in y check-out?</h4>
        El check-in es a partir de las 3:00 p.m. y el check-out es a las 12:00 p.m. Si necesitas un horario diferente, puedes solicitar un early check-in o late check-out, sujeto a disponibilidad.
  
        
        <br>
        <h4>¿El hotel cuenta con estacionamiento? ¿Es gratuito?</h4>
        Sí, contamos con estacionamiento para nuestros huéspedes. En algunos casos es gratuito.</div>
    </ion-accordion>
    <ion-accordion value="segundo">
      <ion-item slot="header" color="light">
        <ion-label>¿Como reservar?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"><h4> Inicia sesión o regístrate:</h4>Abre la app e inicia sesión con tu cuenta existente, o crea una nueva si es tu primera vez.
        <br><h4>Elige tu habitación:</h4> Explora las opciones disponibles y selecciona la habitación que mejor se ajuste a tus necesidades.
        <br>
          <h4>Revisa los detalles:</h4> Verifica la información de tu reserva, incluyendo la tarifa.
      </div>
    </ion-accordion>
    <ion-accordion value="tercero">
      <ion-item slot="header" color="light">
        <ion-label>¿donde nos encontramos?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>Quilapilun alto, 0372,Colina </p>
        <img class="room" src="assets/icon/donde_estamos.webp" alt=""/>
      </div>
    </ion-accordion>
    <ion-accordion value="cuarto">
      <ion-item slot="header" color="light">
        <ion-label>¿Cómo puedo solicitar un upgrade de habitación?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <br>
        <h4>Contacta al Hotel Directamente:</h4> Después de hacer tu reserva, puedes contactar al hotel directamente para solicitar un upgrade. Menciona tu número de reserva y el tipo de habitación al que te gustaría cambiarte. Si hay disponibilidad, te informarán sobre el costo o si pueden ofrecerlo como cortesía.
        <br>
        <h4>Solicítalo al Check-In:</h4> Al llegar al hotel, pregunta en la recepción si hay upgrades disponibles. Los hoteles a veces ofrecen upgrades gratuitos o con descuento en el momento del check-in, según la disponibilidad.</div>
    </ion-accordion>




  </ion-accordion-group>