<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="seleccion">
      <ion-segment-button value="gestion1">
        <ion-label>reservas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="gestion2">
        <ion-label>habitaciones</ion-label>
      </ion-segment-button>
      <ion-segment-button value="gestion3">
        <ion-label>usuarios</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="gestion">
  <img class="room" src="assets/icon/logo.png" alt="Logo Refugio Andino"/>

  <div *ngIf="seleccion == 'gestion1'">    
    <ion-grid>
      <ion-row>
        <ion-col>
          <table class="reservas-table">
            <thead>
              <tr>
                <th>Habitación</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reserva of reservas">
                <td>{{ reserva.habitacion }}</td>
                <td>{{ reserva.fecha }}</td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="seleccion == 'gestion2'">
    <div class="mat-elevation-z23">
      <table mat-table [dataSource]="habitaciones">
  
        <!-- Position Column -->
        <ng-container matColumnDef="habitacion">
          <th mat-header-cell *matHeaderCellDef> Habitacion </th>
          <td mat-cell *matCellDef="let element"> {{element.habitacion}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="nhabitacion">
          <th mat-header-cell *matHeaderCellDef> N° Habitacion </th>
          <td mat-cell *matCellDef="let element"> {{element.nhabitacion}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="habi"></tr>
        <tr mat-row *matRowDef="let row; columns: habi;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
      </mat-paginator>
  
    </div>
  </div>

  <div *ngIf="seleccion == 'gestion3'">
    <div class="mat-elevation-z23">
      <table mat-table [dataSource]="reservas">
  
        <!-- Position Column -->
        <ng-container matColumnDef="habitacion">
          <th mat-header-cell *matHeaderCellDef> Habitacion </th>
          <td mat-cell *matCellDef="let element"> {{element.habitacion}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="huespedes">
          <th mat-header-cell *matHeaderCellDef> Huespedes </th>
          <td mat-cell *matCellDef="let element"> {{element.huespedes}} </td>
        </ng-container>
  
        <!-- Symbol Column -->
      <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="habitacioness"></tr>
        <tr mat-row *matRowDef="let row; columns: habitacioness;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
      </mat-paginator>
  
    </div>
  </div>
</ion-content>
