<ion-header>
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="seleccion" class="full-width-segment">
      <ion-segment-button value="gestion1" class="left-align">
        <ion-label class="small-text">Reservas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="gestion2" class="left-align">
        <ion-label class="small-text">Habitaciones</ion-label>
      </ion-segment-button>
      <ion-segment-button value="gestion3" class="left-align">
        <ion-label class="small-text">Usuarios</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="gestion">
  <div class="header-right">
    <ion-button class="log" color="danger" [routerLink]="['/home']">
      Cerrar Sesión
    </ion-button>
  </div>

  <!-- Tabla de Reservas -->
  <div *ngIf="seleccion === 'gestion1'">
    <div class="table-wrapper">
      <table mat-table [dataSource]="reservas" class="responsive-table">
        <ng-container matColumnDef="habitacion">
          <th mat-header-cell *matHeaderCellDef>Habitación</th>
          <td mat-cell *matCellDef="let elemento">
            <ng-container *ngIf="!elemento.editar">
              {{ elemento.habitacion }}
            </ng-container>
            <ng-container *ngIf="elemento.editar">
              <ion-input [(ngModel)]="elemento.habitacion"></ion-input>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let elemento">
            <ng-container *ngIf="!elemento.editar">
              {{ elemento.fecha }}
            </ng-container>
            <ng-container *ngIf="elemento.editar">
              <ion-input [(ngModel)]="elemento.fecha"></ion-input>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="huespedes">
          <th mat-header-cell *matHeaderCellDef>Huéspedes</th>
          <td mat-cell *matCellDef="let elemento">
            <ng-container *ngIf="!elemento.editar">
              {{ elemento.huespedes }}
            </ng-container>
            <ng-container *ngIf="elemento.editar">
              <ion-input [(ngModel)]="elemento.huespedes"></ion-input>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let elemento">
            <ng-container *ngIf="!elemento.editar">
              <button mat-icon-button color="accent" (click)="editar(elemento)">
                <ion-icon name="create"></ion-icon>
              </button>
              <button mat-icon-button color="warn" (click)="eliminar(elemento)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="elemento.editar">
              <button mat-icon-button color="primary" (click)="guardar(elemento)">
                <ion-icon name="checkmark"></ion-icon>
              </button>
              <button mat-icon-button color="light" (click)="cancelar(elemento)">
                <ion-icon name="close"></ion-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['habitacion', 'fecha', 'huespedes', 'acciones']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['habitacion', 'fecha', 'huespedes', 'acciones'];"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <!-- Tabla de Habitaciones -->
  <div *ngIf="seleccion === 'gestion2'">
    <div class="table-wrapper">
      <table mat-table [dataSource]="habitaciones" class="responsive-table">
        <ng-container matColumnDef="habitacion">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let elemento">
            <ng-container *ngIf="!elemento.editar">
              {{ elemento.habitacion }}
            </ng-container>
            <ng-container *ngIf="elemento.editar">
              <ion-input [(ngModel)]="elemento.habitacion"></ion-input>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="nhabitacion">
          <th mat-header-cell *matHeaderCellDef>Camas</th>
          <td mat-cell *matCellDef="let elemento">
            <ng-container *ngIf="!elemento.editar">
              {{ elemento.nhabitacion }}
            </ng-container>
            <ng-container *ngIf="elemento.editar">
              <ion-input [(ngModel)]="elemento.nhabitacion"></ion-input>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let elemento">
            <ng-container *ngIf="!elemento.editar">
              <button mat-icon-button color="primary" [routerLink]="['/agregar']">
                <ion-icon name="add"></ion-icon>
              </button>
              <button mat-icon-button color="accent" (click)="editar(elemento)">
                <ion-icon name="create"></ion-icon>
              </button>
              <button mat-icon-button color="warn" (click)="eliminar(elemento)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="elemento.editar">
              <button mat-icon-button color="primary" (click)="guardar(elemento)">
                <ion-icon name="checkmark"></ion-icon>
              </button>
              <button mat-icon-button color="light" (click)="cancelar(elemento)">
                <ion-icon name="close"></ion-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['habitacion', 'nhabitacion', 'acciones']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['habitacion', 'nhabitacion', 'acciones'];"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <!-- Tabla de Usuarios -->
  <div *ngIf="seleccion === 'gestion3'">
    <div class="table-wrapper">
      <table mat-table [dataSource]="usuarios" class="responsive-table">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let elemento">
            <ng-container *ngIf="!elemento.editar">
              {{ elemento.nombre }}
            </ng-container>
            <ng-container *ngIf="elemento.editar">
              <ion-input [(ngModel)]="elemento.nombre"></ion-input>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="rut">
          <th mat-header-cell *matHeaderCellDef>RUT</th>
          <td mat-cell *matCellDef="let elemento">
            <ng-container *ngIf="!elemento.editar">
              {{ elemento.rut }}
            </ng-container>
            <ng-container *ngIf="elemento.editar">
              <ion-input [(ngModel)]="elemento.rut"></ion-input>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let elemento">
            <ng-container *ngIf="!elemento.editar">
              <button mat-icon-button color="accent" (click)="editar(elemento)">
                <ion-icon name="create"></ion-icon>
              </button>
              <button mat-icon-button color="warn" (click)="eliminar(elemento)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="elemento.editar">
              <button mat-icon-button color="primary" (click)="guardar(elemento)">
                <ion-icon name="checkmark"></ion-icon>
              </button>
              <button mat-icon-button color="light" (click)="cancelar(elemento)">
                <ion-icon name="close"></ion-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['nombre', 'rut', 'acciones']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['nombre', 'rut', 'acciones'];"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</ion-content>
