<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="seleccion">
      <ion-segment-button value="gestion1">
        <ion-label>reservas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="gestion2">
        <ion-label>habitaciones</ion-label>
      </ion-segment-button>
      <ion-segment-button value="gestion3">
        <ion-label>usuarios</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="gestion">
  <img class="room" src="assets/icon/logo.png" alt="Logo Refugio Andino"/>

  <div *ngIf="seleccion == 'gestion1'">    
    <ion-grid>
      <ion-row>
        <ion-col>
          <table class="reservas-table">
            <thead>
              <tr>
                <th>Habitación</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reserva of reservas">
                <td>{{ reserva.habitacion }}</td>
                <td>{{ reserva.fecha }}</td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="seleccion == 'gestion2'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <table class="habitaciones-table">
            <thead>
              <th>habitaciones</th>
              <th>Nº habitacion</th>
            </thead>
            <tbody>
              <tr *ngFor="let habitacion of habitaciones">
                <td>{{ habitacion.habitacion }}</td>
                <td>{{ habitacion.numero }}</td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="seleccion == 'gestion3'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <table class="usuarios-table">
            <thead>
              <th>Nombre</th>
              <th>Rut</th>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.rut }}</td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
