<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Habitaciones Suite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <ion-card *ngFor="let x of habitacions">
    <img class="room-image" [src]="x.imagen" alt="Habitacion Suite" />
    <ion-card-header>
      <ion-card-title>{{ x.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Id: {{x.idhabitacion}}</p>
      <p>Descripción: {{ x.descripcion }}</p>
      <p>Precio: {{ x.precio }}</p>
      <ion-button color="warning" expand="block" (click)="irReservar(x.idhabitacion)">Reserva</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home" [routerLink]="['/habitaciones']">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/hfamiliar']">
      <ion-icon name="bed"></ion-icon>
      Familiar
    </ion-tab-button>
    <ion-tab-button tab="library" [routerLink]="['/hpresidencial']">
      <ion-icon name="diamond-outline"></ion-icon>
      Presidencial
    </ion-tab-button>
    <ion-tab-button tab="library" [routerLink]="['/miperfil']">
      <ion-icon name="person"></ion-icon>
      Mi perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
