
  ion-content {
    --background: linear-gradient(11deg, #00c6ff, #0072ff);
  }
.contenedor-img{
  text-align: center;
  background-color: #f0f8ff;
  border-radius: 2rem;

  img{
    width: 150px;
    margin: 15px;

  }

  
 
}