<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Agregar Familiar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content class="cuerpo">
    <ion-card-title class="titulo">Añada La habitacion</ion-card-title>
    <img class="room" src="assets/icon/logo.png" alt="Logo Refugio Andino"/>
  <form class="agregar">
    <ion-item>
      <ion-icon name="bed" slot="start"></ion-icon> 
      <ion-select label="ingrese tipo de habitacion" placeholder="seleccione" [(ngModel)]="idtipo" >
        <ion-select-option value="1">habitacion familiar</ion-select-option>
        <ion-select-option value="2">suite Presidencial</ion-select-option>
        <ion-select-option value="3">suite de lujo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" color="primary" class="ion-margin-top boton"(click)="agregar()">
      Añadir
    </ion-button>
    <ion-button expand="full" color="primary" class="ion-margin-top" [routerLink]="['/administrador']" type="button">Volver</ion-button>

  </form>
</ion-card-content>
</ion-content>