<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Agregar Familiar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content class="cuerpo">
    <ion-card-title class="titulo">Añada La habitacion</ion-card-title>
    <img class="room" src="assets/icon/logo.png" alt="Logo Refugio Andino"/>
  <form class="agregar">
    <div class="avatar-container">
        <img alt="Silhouette of a person's head" *ngIf="imagen" [src]="imagen" />
      <ion-button class="camara" size="small" color="dark" (click)="tomarFoto()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </div>
    <ion-item>
      <ion-icon name="bed" slot="start"></ion-icon> 
      <ion-input label="Nombre Habitacion" labelPlacement="floating" placeholder="ingrese nombre de habitacion"  [(ngModel)]="nombre" name="nombre"></ion-input>
    </ion-item>
      <ion-item>
        <ion-icon name="bed" slot="start"></ion-icon> 
        <ion-input label="Descripcion Habitacion" labelPlacement="floating" placeholder="ingrese la descripcion"  [(ngModel)]="descripcion" name="descipcion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="cash" slot="start"></ion-icon>
        <ion-input label="Precio Habitacion" labelPlacement="floating" placeholder="Ingrese el precio" [(ngModel)]="precio" name="precio"></ion-input>
      </ion-item>      
    <ion-button expand="full" color="primary" class="ion-margin-top boton"(click)="agregar()">
      Añadir
    </ion-button>
    <ion-button expand="full" color="primary" class="ion-margin-top" [routerLink]="['/administrador']" type="button">Volver</ion-button>

  </form>
</ion-card-content>
</ion-content>