<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button expand="full" [routerLink]="['/reserva']">reserva</ion-button>
    <ion-title>Habitaciones</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar color="light" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <ion-card>

    <img class="img1" src="assets/icon/9-5.web" alt="Habitación Deluxe"/>
    <ion-card-header>
      <ion-card-title>Habitación Deluxe</ion-card-title>
    </ion-card-header>
    <ion-card-content class="lbl1">
      Amplia y lujosa habitación con vistas al mar, equipada con una cama king size y baño privado.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/icon/familiar.jpg" alt="Habitación Familiar"/>
    <ion-card-header>
      <ion-card-title>Habitación Familiar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Espaciosa habitación perfecta para familias, con dos camas dobles y un área de estar.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/icon/precidencial.webp" alt="Suite Presidencial"/>
    <ion-card-header>
      <ion-card-title>Suite Presidencial</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Suite de lujo con sala de estar, comedor, jacuzzi y vistas panorámicas a la ciudad.
    </ion-card-content>
  </ion-card>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="play-circle"></ion-icon>
        Familiar
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="radio"></ion-icon>
        Suite
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="library"></ion-icon>
        suite precidencial
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
