<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Habitaciones</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content class="content" [fullscreen]="true">
  <ion-card>
    <img class="room-image" src="assets/icon/9-5.webp" alt="Habitación Deluxe"/>
    <ion-card-header>
      <ion-card-title>Habitación Deluxe</ion-card-title>
    </ion-card-header>
    <ion-button class="vermas" expand="block" color="primary" (click)="mostrarInfo('Habitación Deluxe')">
      Ver mas
    </ion-button>
    <ion-button class="vermas" color="success" expand="full" [routerLink]="['/reserva']">Reserva</ion-button>
  </ion-card>

  <ion-card>
    <img class="room-image" src="assets/icon/familiar.jpg" alt="Habitación Familiar"/>
    <ion-card-header>
      <ion-card-title>Habitación Familiar</ion-card-title>
    </ion-card-header>
    <ion-button class="vermas" expand="block" color="primary" (click)="mostrarInfo('Habitación Familiar')">
      Ver mas
    </ion-button>
    <ion-button class="vermas" color="warning" expand="full"  [routerLink]="['/reserva']">Reserva</ion-button>
  </ion-card>

  <ion-card>
    <img class="room-image" src="assets/icon/precidencial.webp" alt="Suite Presidencial"/>
    <ion-card-header>
      <ion-card-title>Suite Presidencial</ion-card-title>
    </ion-card-header>
      <ion-button class="vermas" expand="block" color="primary" (click)="mostrarInfo('Suite Presidencial')">
        Ver más
      </ion-button>
      <ion-button class="vermas" expand="block" color="warning" [routerLink]="['/reserva']">
        Reserva
      </ion-button>
  </ion-card>
  
</ion-content>


<ion-footer>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home" [routerLink]="['/hfamiliar']">
      <ion-icon name="bed"></ion-icon>
      Familiar
    </ion-tab-button>
    <ion-tab-button tab="radio" [routerLink]="['/hsuite']">
      <ion-icon name="star-outline"></ion-icon>
      Suite
    </ion-tab-button>
    <ion-tab-button tab="library" [routerLink]="['/hpresidencial']">
      <ion-icon name="diamond-outline"></ion-icon>
      Suite Presidencial
    </ion-tab-button>
    <ion-tab-button tab="library" [routerLink]="['/miperfil']">
      <ion-icon name="person"></ion-icon>
      Mi perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
