<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Encuesta de Satisfacción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nos gustaría saber tu opinión sobre tu experiencia con nosotros.</p>
      <ion-item>
        <ion-label>Calificación:</ion-label>
        <ion-select [(ngModel)]="rating">
          <ion-select-option value="1">1 - Muy malo</ion-select-option>
          <ion-select-option value="2">2 - Malo</ion-select-option>
          <ion-select-option value="3">3 - Aceptable</ion-select-option>
          <ion-select-option value="4">4 - Bueno</ion-select-option>
          <ion-select-option value="5">5 - Excelente</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" color="secondary" (click)="submitFeedback()">Enviar Feedback</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home" [routerLink]="['/hfamiliar']">
      <ion-icon name="bed"></ion-icon>
      Familiar
    </ion-tab-button>
    <ion-tab-button tab="suite" [routerLink]="['/hsuite']">
      <ion-icon name="star-outline"></ion-icon>
      Suite
    </ion-tab-button>
    <ion-tab-button tab="presidencial" [routerLink]="['/hpresidencial']">
      <ion-icon name="diamond-outline"></ion-icon>
      Suite Presidencial
    </ion-tab-button>
    <ion-tab-button tab="profile" [routerLink]="['/miperfil']">
      <ion-icon name="person"></ion-icon>
      Mi Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
